@charset "UTF-8";

// override default banner styles here.

// Stanford Title banner
.ptype-stanford-page-title-banner {

  .su-card {
    &.su-hero__card {
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: $su-color-black;
      bottom: 0;

      @include grid-media-min('sm') {
        color: $su-color-white;
      }

      @include grid-media-min('md') {
        margin-bottom: 0;
        margin-top: 96px;
        max-width: 450px;
        top: auto;
      }
    }
  }

  @include grid-media-min('lg') {
    .su-hero {
      min-height: 250px;
    }

  .su-hero__media {
        min-height: 250px;
        position: absolute;
      }
  .su-hero__media {
        min-height: 250px;
        position: absolute;
      }
  }

  @include grid-media-min('md') {
    .su-hero__media {
      min-height: 250px;
      position: absolute;
    }

    .su-hero {
      min-height: 250px;
    }
  }

  @include grid-media-min('sm') {
    .su-hero__media {
      min-height: 150px;
      position: absolute;
    }

    .su-hero {
      min-height: 150px;
    }
  }
}
