@charset "UTF-8";

// override default button styles here and add additional button classes as needed.
//.su-button {
//    include button mixins here
//  &:hover, &:focus {
//    include button mixins here
//  }
//}

a {
  &.su-button,
  &.su-button--big {
    background-color: $gardner-color-yellow;
    border-radius: 4px;
    color: $su-color-white;
  }

  &.su-button--secondary {
    border: 1px solid $gardner-color-secondary-btn;
    box-shadow: none;
    color: $gardner-color-secondary-btn;
    border-radius: 4px;

    &:hover,
    &:active {
      background-color: $gardner-color-brown;
      color: $su-color-white;
      transition: background-color 0.5s;
      box-shadow: none;
    }

    &.su-link--external {
      &::after {
        background-color: $gardner-color-secondary-btn;
      }

      &:hover,
      &:active {
        &::after {
         background-color: $su-color-white;
        }
      }
    }
  }

  &.su-button--secondary {
    &.mailto {
      svg {
        fill: $gardner-color-secondary-btn;

        &:hover,
        &:active {
          fill: $su-color-white;
        }
      }
    }

    &:hover,
    &:active {
      svg {
        fill: $su-color-white;
      }
    }
  }
}
