@charset "UTF-8";

// override default button styles here and add additional button classes as needed.
//.su-button {
//    include button mixins here
//  &:hover, &:focus {
//    include button mixins here
//  }
//}

.su-wysiwyg-text{
  a {
    &.su-button {
      background-color: $gardner-color-yellow;
      border-radius: 4px;
      color: $su-color-black;

      &:hover,
      &:focus {
        background-color: $su-color-black;
        color: $su-color-white;

        &::after {
          background-color: $su-color-white;
        }
      }

      &.su-link--external {
        &:hover,
        &:focus {
          &::after {
            background-color: $su-color-white;
          }
        }
        &::after {
          background-color: $su-color-black;
        }
      }

      &.mailto {
        svg {
          fill: $su-color-black;
        }

        &:hover,
        &:focus {
          svg {
            fill: $su-color-white;
          }
        }
      }
    }

    &.su-button--secondary {
      box-shadow: inset 0 0 0 2px $gardner-color-yellow;
      color: $su-color-black;

      &:hover,
      &:focus {
        box-shadow: inset 0 0 0 2px $su-color-black;
        color: $su-color-black;

        &::after {
          background-color: $su-color-black;
        }
      }

      &.su-link--external {
        &:hover,
        &:focus {
          &::after {
            background-color: $su-color-black;
          }
        }
        &::after {
          background-color: $su-color-black;
        }
      }

      &.mailto {
        svg {
          fill: $su-color-black;
        }

        &:hover,
        &:focus {
          svg {
            fill: $su-color-black;
          }
        }
      }
    }

    &.su-button--secondary,
    &.su-button--big {
      border-radius: 4px;
    }
  }
}